In [1]:
import os
os.getcwd()

'C:\\Users\\tq06t\\cv'

In [12]:
import numpy as np
import pandas as pd
f=r'陵城区降水temp.dta'
HighTemp=pd.read_stata(f)
HighTemp.head

<bound method NDFrame.head of           date  precode2020        pe  year date1     date2    date3  days  \
0   1990-06-15            0  5.208245  1990  0610  19900610  11118.0   6.0
1   1990-06-16            0  7.649718  1990  0610  19900610  11118.0   7.0
2   1990-06-17            0  3.960049  1990  0610  19900610  11118.0   8.0
3   1990-06-18            0  0.675080  1990  0610  19900610  11118.0   9.0
4   1990-06-19            0  1.869133  1990  0610  19900610  11118.0  10.0
..         ...          ...       ...   ...   ...       ...      ...   ...
692 2018-07-05            9  2.738879  2018  0610  20180610  21345.0  26.0
693 2018-07-06            9  3.704336  2018  0610  20180610  21345.0  27.0
694 2018-07-06            9  3.704336  2018  0610  20180610  21345.0  27.0
695 2018-07-07            9  2.610346  2018  0610  20180610  21345.0  28.0
696 2018-07-08            9  1.654530  2018  0610  20180610  21345.0  29.0

     pre2020    yield_w     yield_t    yield_l  yield_tlow  yield_wlow  \
0        0.5 -57.535521  407.535521  57.535521  413.627286  -63.627285
1        0.0 -57.535521  407.535521  57.535521  413.627286  -63.627285
2       17.0 -57.535521  407.535521  57.535521  413.627286  -63.627285
3       24.0 -57.535521  407.535521  57.535521  413.627286  -63.627285
4        0.0 -57.535521  407.535521  57.535521  413.627286  -63.627285
..       ...        ...         ...        ...         ...         ...
692      0.0 -59.835642  556.265642  59.835642  532.313285  -35.883286
693      0.0 -59.835642  556.265642  59.835642  532.313285  -35.883286
694      0.0 -59.835642  556.265642  59.835642  532.313285  -35.883286
695      0.0 -59.835642  556.265642  59.835642  532.313285  -35.883286
696      0.0 -59.835642  556.265642  59.835642  532.313285  -35.883286

     yield_llow    lr_low
0     63.627285  0.181792
1     63.627285  0.181792
2     63.627285  0.181792
3     63.627285  0.181792
4     63.627285  0.181792
..          ...       ...
692   35.883286  0.072283
693   35.883286  0.072283
694   35.883286  0.072283
695   35.883286  0.072283
696   35.883286  0.072283

[697 rows x 16 columns]>

In [13]:
HighTemp.dtypes #查看变量属性

date      datetime64[ns]
avegst             int32
maxgst             int32
mingst           float64
year             float32
dtype: object

In [6]:
from sklearn.model_selection import train_test_split
from sklearn import datasets
HighTemp

           date  avegst  maxgst  mingst    year
0    1979-06-01     270     554   151.0  1979.0
1    1979-06-02     324     579   182.0  1979.0
2    1979-06-03     295     501   180.0  1979.0
3    1979-06-04     298     509   157.0  1979.0
4    1979-06-05     259     378   185.0  1979.0
...         ...     ...     ...     ...     ...
4876 2018-09-26     212     378   123.0  2018.0
4877 2018-09-27     216     386   112.0  2018.0
4878 2018-09-28     243     419   163.0  2018.0
4879 2018-09-29     221     397   114.0  2018.0
4880 2018-09-30     194     360    81.0  2018.0

[4881 rows x 5 columns]

In [7]:
X = df.drop(['target'],axis=1).values   # independant features
y = df['target'].values					# dependant variable
X_train, X_test, y_train, y_test=train_test_split(HighTemp.data, HighTemp.target, test_size=0.4, random_stata=0)

AttributeError: 'DataFrame' object has no attribute 'data'