In [1]:
import os
os.getcwd()

'C:\\Users\\tq06t\\cv'

In [23]:
import numpy as np
import pandas as pd
f=r'总指数.dta'
df=pd.read_stata(f)
df.head()

      total       yield    yield_l  yield_llow    lr_low
0  1.195806  350.000000  57.535521   63.627285  0.181792
1  0.000000  439.000000   0.000000    0.000000  0.000000
2  0.141470  433.000000   0.000000    0.000000  0.000000
3  0.000000  458.933333   0.000000    0.000000  0.000000
4  0.287855  482.200000   0.000000    0.000000  0.000000

In [31]:
ar=np.array(df)  #转化成矩阵
total=ar[::,:1:].copy()   #取出向量
total

array([[1.19580579],
       [0.        ],
       [0.14146954],
       [0.        ],
       [0.287855  ],
       [0.24195006],
       [0.19296001],
       [0.64129663],
       [0.13447918],
       [0.        ],
       [0.28889999],
       [0.09364707],
       [0.2232655 ],
       [0.72209805],
       [0.1568    ],
       [0.33420187],
       [0.52772462],
       [0.28787416],
       [0.        ],
       [0.        ],
       [0.15887065],
       [0.28819567],
       [0.13214298],
       [0.07116   ],
       [0.21264862],
       [0.17937571],
       [0.        ],
       [0.5084793 ],
       [0.48534125]])

In [37]:
import scipy.stats as st
distributions = [st.laplace, st.norm, st.beta, st.burr, st.erlang, st.gennorm, st.gamma, st.gengamma, st.logistic]
mles = []
for distribution in distributions:
    pars = distribution.fit(total)
    mle = distribution.nnlf(pars, total)
    mles.append(mle)

results = [(distribution.name, mle) for distribution, mle in zip(distributions, mles)]
best_fit = sorted(zip(distributions, mles), key=lambda d: d[1])[0]
print(results)
#print( 'Best fit reached using {}, MLE value: {}'.format(best_fit[0].name, best_fit[1]))

[('laplace', array([-0.8638918])), ('norm', array([2.21644397])), ('beta', array([-74.1629606])), ('burr', array([-118.52407392])), ('erlang', array([-230.86457793])), ('gennorm', array([-0.9701589])), ('gamma', array([-208.17881571])), ('gengamma', array([-261.17809712])), ('logistic', array([0.02891063]))]

In [13]:
#HighTemp.dtypes #查看变量属性

date      datetime64[ns]
avegst             int32
maxgst             int32
mingst           float64
year             float32
dtype: object

In [6]:
from sklearn.model_selection import train_test_split
from sklearn import datasets
HighTemp

           date  avegst  maxgst  mingst    year
0    1979-06-01     270     554   151.0  1979.0
1    1979-06-02     324     579   182.0  1979.0
2    1979-06-03     295     501   180.0  1979.0
3    1979-06-04     298     509   157.0  1979.0
4    1979-06-05     259     378   185.0  1979.0
...         ...     ...     ...     ...     ...
4876 2018-09-26     212     378   123.0  2018.0
4877 2018-09-27     216     386   112.0  2018.0
4878 2018-09-28     243     419   163.0  2018.0
4879 2018-09-29     221     397   114.0  2018.0
4880 2018-09-30     194     360    81.0  2018.0

[4881 rows x 5 columns]

In [17]:
X = HighTemp.drop(['avgst'],axis=1).values   # independant features
y = HighTemp['avgst'].values					# dependant variable

KeyError: "['avgst'] not found in axis"

In [ ]:
X_train, X_test, y_train, y_test=train_test_split(HighTemp.data, HighTemp.target, test_size=0.4, random_stata=0)