In [8]:
import numpy as np
import pandas as pd
f=r'C:\Users\tq06t\OneDrive\气象数据\地面资料日值数据集\高温.dta'
HighTemp=pd.read_stata(f)
HighTemp.head(7)

        date  avegst  maxgst  mingst    year
0 1979-06-01     270     554   151.0  1979.0
1 1979-06-02     324     579   182.0  1979.0
2 1979-06-03     295     501   180.0  1979.0
3 1979-06-04     298     509   157.0  1979.0
4 1979-06-05     259     378   185.0  1979.0
5 1979-06-06     241     439   128.0  1979.0
6 1979-06-07     329     619   123.0  1979.0

In [13]:
HighTemp.dtypes #查看变量属性

date      datetime64[ns]
avegst             int32
maxgst             int32
mingst           float64
year             float32
dtype: object

In [ ]:
from sklearn.model_selection import KFold