In [1]:
import os
os.getcwd()

'C:\\Users\\tq06t\\cv'

In [5]:
import numpy as np
import pandas as pd
f=r'高温.dta'
HighTemp=pd.read_stata(f)
HighTemp.head(7)

        date  avegst  maxgst  mingst    year
0 1979-06-01     270     554   151.0  1979.0
1 1979-06-02     324     579   182.0  1979.0
2 1979-06-03     295     501   180.0  1979.0
3 1979-06-04     298     509   157.0  1979.0
4 1979-06-05     259     378   185.0  1979.0
5 1979-06-06     241     439   128.0  1979.0
6 1979-06-07     329     619   123.0  1979.0

In [13]:
HighTemp.dtypes #查看变量属性

date      datetime64[ns]
avegst             int32
maxgst             int32
mingst           float64
year             float32
dtype: object

In [6]:
from sklearn.model_selection import train_test_split
from sklearn import datasets
HighTemp

           date  avegst  maxgst  mingst    year
0    1979-06-01     270     554   151.0  1979.0
1    1979-06-02     324     579   182.0  1979.0
2    1979-06-03     295     501   180.0  1979.0
3    1979-06-04     298     509   157.0  1979.0
4    1979-06-05     259     378   185.0  1979.0
...         ...     ...     ...     ...     ...
4876 2018-09-26     212     378   123.0  2018.0
4877 2018-09-27     216     386   112.0  2018.0
4878 2018-09-28     243     419   163.0  2018.0
4879 2018-09-29     221     397   114.0  2018.0
4880 2018-09-30     194     360    81.0  2018.0

[4881 rows x 5 columns]

In [7]:
X = df.drop(['target'],axis=1).values   # independant features
y = df['target'].values					# dependant variable
X_train, X_test, y_train, y_test=train_test_split(HighTemp.data, HighTemp.target, test_size=0.4, random_stata=0)

AttributeError: 'DataFrame' object has no attribute 'data'